@import url(./root.css);
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: var(--blue);
}

.title{
    color: var(--yellow);
    font-family: 'Pokemon Solid', 'Poppins';
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-shadow: 1px 3px  var(--dark_yellow);
    border-bottom: solid 2px var(--yellow);
}